In [11]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.0.2)

In [3]:
import pymysql
import pandas as pd

In [9]:
conn = pymysql.connect(
        host='soccer-database.csdmmiwixxfg.us-east-1.rds.amazonaws.com',
        port=3306,
        user='admin',
        passwd='bancodedados12',
        db='europeansoccerDB',
        charset='utf8mb4'
)

In [10]:
cursor = conn.cursor()

In [11]:
# Write a sql query

query = "SELECT * FROM Country"

In [12]:
frame           = pd.read_sql(query, conn)
frame.head()

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy